@model Assignment1_ASP.NET_MVC.Models.User

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

        @using (Html.BeginForm("SaveUser", "Home"))
        {
            <b>User Name : </b>@Html.TextBoxFor(user => user.UserName)<br /><br />
            <b>Password : </b>@Html.PasswordFor(user => user.Password)<br /><br />
            <input type="submit" value="Save" />
        }

@section localContent
{
    <h3>AddUser.cshtml's' local content goes here</h3>
}
    